*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    height: 100vh;
    font-family: 'Kumbh Sans', san-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    color: hsl(240, 6%, 50%);
}

h1{
    font-weight: 700;
    margin: 5%;
    color: hsl(237, 12%, 33%);
}

.card{
    margin: 100px auto;
    padding: 2%;
    background-color: white;
    height: 70vh;
    width: 60%;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    overflow: visible;
}

.img-part{
  background: url(images/bg-pattern-desktop.svg);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-position: bottom 10%;
  width: 50%;
  position: relative;
}

.question-part{
  width: 50%;
  margin-left: 20px; 
}

.answer{
    padding: 2%;
    display: block;
    text-align: left;
    margin-left: 3%;
}

.question{
    padding: 3%;
  }

  .each-faq{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 3vh;
  }

  .q-box{
    display: flex;
    cursor: pointer;
  }

  .q-box .question{
    float: left;
    width: 90%;
  }

  .q-box .btn{
    float: left;
    width: 10%;
    background-color: white;
    border: none;
  }

  .hidden{
    display: none;
  }
  
  .box-img{
    height: 200px;
    width: 250px;
    position: absolute;
    top: 150px;
    left: -200px;
    
  }

  .woman-img{
    height: 400px;
    width: 500px;
    position: absolute;
    right: 50px;
    top: 20px;    
  }

  .clicked-question{
    font-weight: 700;
    color: hsl(237, 12%, 33%);
  }


@media (min-width:280px) and (max-width:540px){
  .card{
    width: 90%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-top: 200px;
    overflow:visible;
  }

  .img-part{
    height: 100px;
    width: 100%;
  }

  .box-img{
    height: 100px;
    width: 150px;
    position: absolute;
   left: 200px;
    top: -90px;
    z-index: 3;
    
  }

  .question{
    position: sticky;
  }

  .question-part{
    width: 90%;
    height: 80vh;
  }

  .woman-img{
    height: 30vh;
    width: 90%;
    position: absolute;
      top: -180px;
    overflow:visible;
    z-index: 2;
    
  }
  

}